{% extends "body.html" %}

{% block content %}
<div class="wrapper">
	<div class="container">
        <div class="logo-saveapp"><img src="images/logo.png" alt="SaveApp" height="186" width="200"></div>
		      		<h1>Welcome to SaveApp</h1>

		<form class="form">
			
			<button type="submit" id="login-button"><a
href="/login" >Login</a></button>
                <!--
i made login a link to make it go to the set up page. we can change this with whatever.
-->
		</form>
	</div>
        <div class="range-slider" data-slider>
  <span class="range-slider-handle" role="slider" tabindex="0"></span>
  <span class="range-slider-active-segment"></span>
  <input type="hidden">
</div>
	
	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>
{% endblock %}